{DOCTYPE}

<html lang="{LANGUAGE}">
{HEADER}

	<body>
		<header>
			{NAVIGATION_HORIZONTALPATH}
		</header>			
		
		<div class="container">
      <div class="row">
				<div class="col-sm-12">
					{MESSAGE_UNDERCONSTRUCTION}
					{MESSAGES}
					{CONTENT}
					<br/>
					<br/>
				</div>
			</div>
		</div>					
	
		<footer>
			<div id="footer">
				<div class="container">
					{NAVIGATION_FOOTER}
					<p class="text-muted">
							<span style="float:right">{COPYRIGHT}</span><br/>
							<span style="float:right">{POWEREDBY}</span>
					</p>
				</div>
			</div>
		</footer>

		<div style="padding-top:15px;">&nbsp;</div>

	</body>
</html>